<!-- library -->
<% content_for :library do %>
  <style>
    body {
      background-color: #eee;
    }
  </style>
<% end %> 

<div class="sign-in-page">
  <div class="container">
    <form class="form-signin" role="form">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="email" class="form-control" placeholder="Email address"  />
      <input type="password" class="form-control" placeholder="Password"  />
      <label class="checkbox">
        <input type="checkbox" value="remember-me" /> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div> <!-- /container -->
</div>